<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/lib//pure-min.css">
    <title>The impossible list</title>
</head>
<body>
    <div id="app">
        <nav>
            <span v-text='user.userName'></span>
        </nav>

        <h1 @click="check()" >welcome to the impossible list </h1>

        <form action="" class="pure-form" @submit.prevent="addTask(new_task_name, new_task_cat)">
            <label for="name">Name</label>
            <input v-model='new_task_name' type="text" name="name" id="name">
            <label for="cat">catagories</label>
            <input v-model='new_task_cat' type="text" name="cat" id="cat">
            <button >add</button>
        </form>

        <template v-if="!loading" >
            <div class="list" v-for="cat in tasks">
                <h3 v-text='cat.name' ></h3>
                <div class="items" v-for="task in cat.tasks" :style="{'display':'flex'}">
                    <input @click="check(task.id,)" type="checkbox"  >
                    <p v-text="task.name" :class='{done:task.status}' ></p>
                </div>
            </div>
        </template>
        <div v-else @click="sort()"><p>loading...</p> </div>
    </div>
    <script src="./lib/vue.global.js"></script>
    <script src="./data.js"></script>

    <script>


        const ImpossibleApp = {
            data (){
                return {
                    user: db[0],
                    loading:true,
                    tasks:[],
                    new_task_name:'',
                    new_task_cat:'',
                };
            },
            computed: {
                comp_tasks () {
                    const data = []
                    let cat = []
                    this.user.tasks.forEach(task => {
                        
                        if(cat.indexOf(task.catagories) == -1 ){
                            cat.push(task.catagories)
                            data.push({'name':task.catagories, 'tasks':[task]})

                        }else{
                            data.filter(function(elem){
                                if (elem.name == task.catagories){
                                    elem.tasks.push(task)
                                }
                            })
                        }

                    })
                    this.loading = false
                    return data
                }
            }
            ,
            methods: {
                check (id, value){
                    let task = this.user.tasks.filter(task => task.id == id )[0]
                    task.status = !task.status;
                },
                addTask (name, cat){
                    this.user.tasks.push({
                        id:100,
                        name:name,
                        status: false,
                        catagories: cat,
                        sub_tasks:[]
                    });
                    this.sort()
                },
                sort (){
                    const data = []
                    let cat = []
                    this.user.tasks.forEach(task => {
                        
                        if(cat.indexOf(task.catagories) == -1 ){
                            cat.push(task.catagories)
                            data.push({'name':task.catagories, 'tasks':[task]})

                        }else{
                            data.filter(function(elem){
                                if (elem.name == task.catagories){
                                    elem.tasks.push(task)
                                }
                            })
                        }

                    })
                    this.loading = false
                    
                    this.tasks= data
                    console.log(this.tasks,'haha')
                }
            },
            created() {
                this.sort()
            }
        }

        const app = Vue.createApp(ImpossibleApp)

        app.mount('#app')
    </script>
</body>
</html>