<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>The impossible list</title>
</head>
<body>
    <div id="app">
        <nav>
            <span v-text='user.name'></span>
        </nav>

        <h1 @click="check()" >welcome to the impossible list </h1>
        
        <div>
            <div class="list" v-for="cat in lists">
                <h3 v-text='cat.name' ></h3>
                <div class="items" v-for="item in cat.data" :style="{'display':'flex'}">
                    <input @click="check(item.id,)" type="checkbox"  >
                    <p v-text="item.name" :class='{done:item.status}' ></p>
                </div>
            </div>
        </div>
    </div>
    <script src="./vue.global.js"></script>
    <script src="./data.js"></script>

    <script>


        const ImpossibleApp = {
            data (){
                return {
                    lists: data.catagories,
                    user: data.users[0],
                }
            },
            computed: {
                status () {
                    
                }
            }
            ,
            methods: {
                check (id, value){
                    this.lists.forEach(cat => {
                        cat.data.forEach(list => {
                            if (list.id == id){
                                list.status = !list.status
                            }
                        })
                    });
                }
            }
        }

        const app = Vue.createApp(ImpossibleApp)

        app.mount('#app')
    </script>
</body>
</html>